@use "../../scss/" as *;

.loader {
  width: 100%;
  @include flex(center, center);
  flex-direction: column;

  img {
    width: 50px;
    object-fit: contain;
  }

  h4 {
    font-weight: 300;
  }
}
