@use "../../scss/breakpoints" as *;

.movie-list {
  .swiper-slide {
    width: 15%;

    @include tablet {
      width: 25%;
    }

    @include mobile {
      width: 35%;
    }
  }
}

// .swiper-wrapper {
//   display: block;
// }
